@font-face {
  font-family: "Figtree";
  src: url("fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Figtree Italic";
  src: url("fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
}

body {
  background-color: #f4d04e;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 384px;
  height: 522px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 1);
  background-color: #fff;
}

.svg-container {
  width: 336px;
  height: 200px;
  margin: 24px 24px 0 24px;
  border-radius: 10px;
  overflow: hidden;
}

h5 {
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  font-size: 14px;
}

.learning-container {
  width: 82px;
  height: 29px;
  margin: 0;
  background-color: #f4d04e;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}

#published-date {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 12px;
}

#description {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #6b6b6b;
  line-height: 150%;
  margin-top: 12px;
  margin-bottom: 0px;
}

.content {
  width: 336px;
  height: 194px;
  margin: 24px 24px 0 24px;
}

.author {
  width: 129px;
  height: 32px;
  display: flex;
  align-items: center;
  margin-left: 24px;
  margin-top: 24px;
}

#greg-hooper {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}
/* Already in the file */

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#lesson-link {
  color: #000;
  text-decoration: none;
}

#lesson-link:hover {
  color: #f4d04e;
}

@media (max-width: 500px) {
  .card {
    width: 327px;
    height: 501px;
  }

  .svg-container {
    width: 279px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
  }

  #blog-image {
    object-fit: cover;
    object-position: -30px 0;
  }

  #learning {
    font-size: 12px;
  }

  #published-date {
    font-size: 12px;
  }

  h2 {
    font-size: 20px;
  }

  #description {
    font-size: 14px;
  }

  .content {
    width: 279px;
    height: 173px;
  }
}
